<h1 align='center'>Recipe Name: <%= @recipe.name.capitalize %></h1>
<hr />

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <h4 class="center description">
            <strong>Description:</strong>
        </h4>
        <hr />
        <p><%= @recipe.description %></p>
        <p>Created by: <small><%= @recipe.chef.name %></small>
        <div class="pull-right">created: <%= time_ago_in_words(@recipe.created_at) %> ago </div>
        </p>
    </div>
</div>