Recipe -
- recipe should be valid
- name should be present
- description shold be present
- chef_id should be present **
- maximum length for name and description, maybe a minimum for description

Chief -
- name should be valid and present
- email should be present
- size restriction on email and a name
- email address should be valid format
- email should be unique, case insensitive

TDD - test driven development


